<div class="page-title">
  <button routerLink="/home" mat-button color="primary">
    <mat-icon>home</mat-icon> Back to home
  </button>
</div>
<app-converter (onChangeCriteria)="criteriaIsChanged($event)" #converterSelector></app-converter>

<div class="charts shadow">
  <h2 class="fw-bold">Historical Details for {{currentConverter.from}}  <small
      class="text-muted">({{currentConverter.fromCurrencyFullName}})</small> to {{currentConverter.to}}</h2>
  <hr>

  <fusioncharts [chartConfig]="chartConfig" [dataSource]="dataSource">
  </fusioncharts>
</div>
