header {
  min-height: 70px;

  .header {
    position: fixed;
    width: 100%;
    box-shadow: 0 0 3px #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0;
    box-sizing: border-box;
    margin-bottom: 50px;
    // flex-wrap: wrap;
    background-color: #3f51b5;
    color: #FFF;

    .sitename {
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 14px;
      width: 110px;

      img {
        max-width: 100%;
      }
    }
  }

  .main-menu {
    display: flex;

    li {
      margin: 0 5px;
      color: #ccc;

      a.active {
        color: #FFF;
      }
    }
  }
}
